@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
li,
button a {
  font-family: "Anton", sans-serif;
}
body {
  overflow-x: hidden;
}

p {
  font-family: "Inter", sans-serif;
}

.cursor {
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
}
