@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
li,
button a {
  font-family: "Anton", sans-serif;
}
/* body {
  overflow-x: hidden;
} */

p {
  font-family: "Inter", sans-serif;
}

.cursor, .cursor-image {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transform-origin: center center;
}


.bar {
  @apply h-12 bg-white;
}
