---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
---

<Layout
    className="bg-[#101318] text-white"
    barba="container"
    namespace="about"
    title="About"
>
    <Nav active={1} />
    <div></div>
</Layout>
