---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
---

<Layout className='bg-[#101318] text-white'>
  <Nav active={0} />
  <div>
    <div class='justify-start items-center flex my-3'>
      <h1 class='text-9xl w-max'>CREATIVE</h1>
      <div class='text-2xl px-1'>
        <p>web development</p>
        <p>backend development</p>
        <p>ui/ux design</p>
        <p>mobile development</p>
      </div>
    </div>
    <div class='my-3'>
      <h1 class='text-9xl w-max'>DEVELOPER & DESIGNER</h1>
    </div>
    <div class='my-3 pl-3'>
      <h2 class='text-indigo-600 text-xl'>UWENAYO Alain Pacifique</h2>
    </div>
    <div class='mt-6'>
      <button>
        <a href='/contact' class='bg-indigo-600 text-xl px-8 py-6 rounded-full'
          >CONTACT</a
        >
      </button>
      <button>
        <a href='/contact' class='bg-indigo-600 text-xl px-8 py-6 rounded-full'
          >CV</a
        >
      </button>
    </div>
  </div>
</Layout>
