---
import Layout from "@layouts/Layout.astro";
import Nav from "@components/Nav.astro";
import Images from "@components/Images.astro";
---

<Layout className='bg-[#101318] text-white'>
  <Images active={0} type={"cursor"} />
  <Nav active={0} />
  <div class='flex justify-center items-center h-screen'>
    <div class='w-max'>
      <div class='justify-start items-center flex my-3'>
        <h1 class='text-9xl w-max cursor-hover'>CREATIVE</h1>
        <div class='text-2xl px-1'>
          <p>web development</p>
          <p>backend development</p>
          <p>ui/ux design</p>
          <p>mobile development</p>
        </div>
      </div>
      <div class='my-3'>
        <h1 class='text-9xl w-max'>DEVELOPER & DESIGNER</h1>
      </div>
      <div class='my-3 pl-3'>
        <h2 class='text-indigo-600 text-xl'>UWENAYO Alain Pacifique</h2>
      </div>
      <div class='my-12'>
        <button>
          <a
            href='/contact'
            class='bg-indigo-600 text-xl px-10 py-6 rounded-full ml-4'
            >CONTACT</a
          >
        </button>
        <button>
          <a
            href='/contact'
            class='bg-[#101318] border border-indigo-600 text-xl py-6 px-[1.8rem] aspect-square rounded-full ml-4'
            >CV</a
          >
        </button>
      </div>
    </div>
  </div>
  <div class='bg-white text-slate-900 h-screen grid grid-cols-2 relative'>
    <div class='p-4 flex flex-col justify-around h-5/6'>
      <div>
        <h4 class='text-indigo-600 text-6xl'>01</h4>
        <h1 class='text-9xl w-max'>ABOUT ME</h1>
      </div>
      <div>
        <p class='text-justify text-2xl'>
          Hi, I am a developer and UX/ UI designer. My favorite part of my job
          is working with talented people to create remarkable creations through
          creative innovation. Through digital innovations, I hope to make the
          world a better place.
        </p>
      </div>
      <div class='my-6'>
        <button>
          <a
            href='/about'
            class='text-xl px-10 py-6 rounded-full ml-4 border-2 border-indigo-600'
            >LEARN MORE</a
          >
        </button>
      </div>
    </div>
    <div class='flex justify-center items-center'>
      <Images active={1} />
    </div>
    <div class='absolute bg-red-500 inset-x-0 bottom-0' id='animation-wrapper'>
    </div>
  </div>
</Layout>
<script>
  import Animate from "../scripts/index.js";
  Animate();
</script>
