---
import Images from "./Images.astro";
interface Props {
    active?: number;
}

const { active = 0 } = Astro.props as Props;
---

<div class="w-3/4 m-auto cursor-pointer group relative">
    <div class="card absolute inset-16"/>
    <div>
        <Images active={active} className="rounded-xl" />
    </div>
    <div class="flex justify-around items-center opacity-0 card-title">
        <h1>ARTERM</h1>
        <p>Awesome Designs in AR </p>
    </div>
</div>
<script>
    import Animate from "../scripts/card.js";
    Animate();
</script>
