---
import Images from "./Images.astro";
interface Props {
    active?: number;
}

const { active = 0 } = Astro.props as Props;
---

<div class="w-3/4 m-auto cursor-pointer group relative">
    <div class="card absolute inset-10"/>
    <div>
        <Images active={active} className="rounded-xl" />
    </div>
</div>
<script>
    import Animate from "../scripts/card.js";
    Animate();
</script>
