---
import Images from "./Images.astro";
interface Props {
    active?: number;
    title: string;
    subtitle?: string;
}

const { active = 0, title, subtitle = title } = Astro.props as Props;
---

<div class="w-3/4 m-auto cursor-pointer group relative card-container">
    <div class="card absolute inset-16"></div>
    <div>
        <Images active={active} className="rounded-xl" />
    </div>
    <div class="flex justify-around items-center opacity-0 card-title">
        <h1>{title}</h1>
        <p>{subtitle}</p>
    </div>
</div>
<script>
    import Animate from "../scripts/card.js";
    Animate();
</script>
