---
interface Props {
  active: number;
}

const { active } = Astro.props as Props;
const pages = ["Home", "About", "Cases", "Work", "Contact"];
---

<div class='justify-center items-center flex'>
  <div>Yarison</div>
  <ul class='list-none [&>li]:inline-block [&>li]:p-3'>
    {
      pages.map((page, index) => (
        <li class={`${index == active ? "" : "text-purple-600"}`}>{page}</li>
      ))
    }
  </ul>
</div>
