---
interface Props {
  active: number;
}
import Logo from "./Logo.astro";
const { active } = Astro.props as Props;
const pages = [
  { route: "/", page: "Home" },
  { route: "/about", page: "About" },
  { route: "/cases", page: "Cases" },
  { route: "/work", page: "Work" },
  { route: "/contact", page: "Contact" },
];
---

<div class='justify-between items-center flex select-none absolute inset-x-0 top-0'>
  <div class='ml-4 '><Logo type={"dark"} /></div>
  <ul class='list-none [&>li]:inline-block w-1/2'>
    {
      pages.map(({ route, page }, index) => (
        <li
          class={`text-xl p-2 m-2 ${index == active ? "text-indigo-600" : ""}`}>
          <a href={route}>{page}</a>
        </li>
      ))
    }
  </ul>
</div>
