---
interface Props {
  active: number;
}

const { active } = Astro.props as Props;
const pages = [
  { route: "/", page: "Home" },
  { route: "/about", page: "About" },
  { route: "/cases", page: "Cases" },
  { route: "/work", page: "Work" },
  { route: "/contact", page: "Contact" },
];
---

<div class='justify-center items-center flex'>
  <div>Yarison</div>
  <ul class='list-none [&>li]:inline-block [&>li]:p-3'>
    {
      pages.map(({ route, page }, index) => (
        <li class={`${index == active ? "" : "text-purple-600"}`}>
          <a href={route}>{page}</a>
        </li>
      ))
    }
  </ul>
</div>
